body {
    color: white;
    background-color: rgb(43, 43, 43);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 36px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.buttons {
    margin: 0px 8px 20px 8px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
}

.buttons:hover {
    font-size: 25px;
    transition: 0.3s;
}

.mainImg {
    height: 400px;
}

.slogan {
    font-size: 24px;
    margin: 30px;
}